﻿<!doctype html>
<html ng-app="myApp">
<head>
  <script src="Scripts/angular.js"></script>
  <script src="Scripts/angular-translate.js"></script>
  <script src="Scripts/angular-translate-loader-url.js"></script>
  <script src="Scripts/angular-cookies.js"></script>

  <script src="script.js"></script>
</head>
<body>
  <div ng-controller="Ctrl">
    <p>{{ 'HEADLINE' | translate }}</p>
    <p>{{ 'PARAGRAPH' | translate }}</p>

    <p translate>PASSED_AS_TEXT</p>
    <p translate="PASSED_AS_ATTRIBUTE"></p>
    <p translate>{{ 'PASSED_AS_INTERPOLATION' }}</p>
    <p translate="{{ 'PASSED_AS_INTERPOLATION' }}"></p>
    <p translate="VARIABLE_REPLACEMENT" translate-values="{ name: 'PascalPrecht' }"></p>

    <button ng-click="changeLanguage('de')" translate="BUTTON_LANG_DE"></button>
    <button ng-click="changeLanguage('en')" translate="BUTTON_LANG_EN"></button>
  </div>
</body>
</html>